$Nav_bg-c: #003580;
$body-txt-c: #02314b;

@mixin opac-0($intensity: 0.6) {
    opacity: $intensity;
    transition: all .5s ease;
}

.opac {
    @include opac-0();
}

@mixin opac-1 {
    @extend .opac;
    opacity: 1;
}